<!DOCTYPE html>
<html>
<head>
    <title>wangboo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Wangboo</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页</a></li>
                    <li><a href="/">官方区</a></li>
                    <li><a href="/">灌水区</a></li>
                    <li><a href="/">职业区</a></li>
                    <li><a href="/">反馈区</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <%if(typeof(user) != 'undefined'){%>
                    <li><a href="/user/<%=user.id%>"><%=user.nickname%></a></li>
                    <%}else{%>
                    <li><a href="#" id="login">登陆</a></li>
                    <li><a href="/user/new">注册</a></li>
                    <%}%>
                    <li><a data-toggle="modal" data-target="#changebgModal" href="#">背景</a></li>
                </ul>
                <form class="navbar-form navbar-right" method="post" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="站内搜索">
                    </div>
                    <input type="submit" class="btn" style="background-color: #285e8e">
                </form>
            </div>
        </div>
    </div>

    <div class="container" id="content">
        <div class="content">
            <ol class="breadcrumb">
                <% crumb.forEach(function(item) {%>
                <li><a href="<%=item.url%>"><%=item.name%></a></li>
                <%})%>
                <li class="active"><%=crumb.last().name%></li>
            </ol>
            <%-body%>
        </div>
        <div class="footer">
                <p><span class="label label-default">wangboo 2014</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有 此内容系根据您的指令自动搜索的结果，不代表赞成的内容或立场</p>
        </div>

        <!-- 选择背景模态框-->
        <div class="modal fade" id="changebgModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <strong>选择喜欢的背景</strong>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding: 10px 0px 20px 10px">
                            <div class="col-md-4">
                                <div class='image-border'>
                                    <a href="#" onclick="changebg('/img/robots.png')"><img src='/img/robots.png'/></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='image-border'>
                                    <a href="#" onclick="changebg('/img/cartographer.png')"><img src='/img/cartographer.png'/></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='image-border'>
                                    <a href="#" onclick="changebg('/img/escheresque_ste.png')"><img src='/img/escheresque_ste.png'/></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='image-border'>
                                    <a href="#" onclick="changebg('/img/cuppycake.png')"><img src='/img/cuppycake.png'/></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='image-border'>
                                    <a href="#" onclick="changebg('/img/monsturs.png')"><img src='/img/monsturs.png'/></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class='image-border'>
                                    <a href="#" onclick="changebg('/img/colours.png')"><img src='/img/colours.png'/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框  over-->

        <!--登陆模态框-->
        <div class="modal fade" id="login-modal" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content col-md-8">
                        <div class="modal-header">
                            <button type="button" class="close" id="login-model-close">&times;</button>
                            <h4 class="modal-title">账号注册</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/">
                                <div class="form-group">
                                    <label for="username">用户名</label>
                                    <input class="form-control" type="text" id="username" name="username" placeholder="请输入登陆账号(qq或者邮箱)">
                                </div>
                                <div class="form-group">
                                    <label for="password">密码</label>
                                    <input class="form-control" type="password" id="password" name="password" placeholder="请输入密码">
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="登陆" class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a type="button" value="注册" class="btn btn-info" href="/user/new">注册</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="button" id="login-modal-cancel" value="取消" class="btn btn-warning">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

        <!--登陆模态框 over-->
    </div>
</body>
</html>